* text=auto eol=lf

*.gif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.pdf binary
*.png binary
*.webp binary

/.editorconfig export-ignore
/.github export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/docs export-ignore
/examples export-ignore
/test_corpus.py export-ignore
